<h1> Cadastro de Ingredientes</h1>

<form>
  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label">Nome:</label>
    <div class="col-sm-10">
      <input type="text" id="inputNome"
             name="nomeIngrediente"
             placeholder="Nome"
             class="form-control"
             [ngClass]="{
            'is-invalid': nome.invalid && (nome.dirty || nome.touched),
            'is-valid': nome.valid && (nome.dirty || nome.touched)
            }"
             [(ngModel)]="ingrediente.nome"
             #nome="ngModel"
             required />
      <div class="invalid-feedback mb-2" *ngIf="nome.invalid && (nome.dirty || nome.touched)">
        <div *ngIf="nome.errors.required">
          Nome do Ingrediente é de preenchimento obrigatório
        </div>
      </div>
    </div>

    <label for="inputDescricao" class="col-sm-2 col-form-label">Descrição:</label>
    <div class="col-sm-10">
      <input type="text" id="inputDescricao"
             name="descricaoIngrediente"
             placeholder="Descricao"
             class="form-control" />
    </div>

    <label for="inputValor" class="col-sm-2 col-form-label">Preço:</label>
    <div class="col-sm-10">
      <input type="text" id="inputValor"
             name="PrecoIngrediente"
             placeholder="Preco"
             class="form-control"
             [ngClass]="{
            'is-invalid': preco.invalid && (preco.dirty || preco.touched),
            'is-valid': preco.valid && (preco.dirty || preco.touched)
            }"
             [(ngModel)]="ingrediente.preco"
             #preco="ngModel"
             required />
      <div class="invalid-feedback mb-2" *ngIf="preco.invalid && (preco.dirty || preco.touched)">
        <div *ngIf="preco.errors.required">
          Preço do Ingrediente é de preenchimento obrigatório
        </div>
      </div>
    </div>
  </div>
</form>
