<h1 class="h4 titulo">Cadastro de Lanches</h1>

<label for="inputNome" class="sr-only">Nome</label>
<input type="text" id="inputNome"
       name="nomeLanche"
       placeholder="Nome do Lanche"
       class="form-control mb-2 col-md-4"
       [ngClass]="{
        'is-invalid': nome.invalid && (nome.dirty || nome.touched),
        'is-valid': nome.valid && (nome.dirty || nome.touched)
       }"
       [(ngModel)]="lanche.nome"
       #nome="ngModel"
       required/>

<div class="invalid-feedback mb-2" *ngIf="nome.invalid && (nome.dirty || nome.touched)">
  <div *ngIf="nome.errors.required">
    Nome do Lanche é de preenchimento obrigatório
  </div>
</div>

<label for="inputDescricao" class="sr-only">Descrição</label>
<input type="text" id="inputDescricao"
       name="descricaoLanche"
       placeholder="Descrição do Lanche"
       class="form-control mb-2 col-md-4"       
       [(ngModel)]="lanche.descricao"
       #descricao="ngModel"
       required />


<label for="inputPreco" class="sr-only">Preço</label>
<input type="number"
       id="inputPreco"
       name="precoLanche"
       placeholder="Preço do lanche"
       class="form-control mb-2 col-md-2"
       [ngClass]="{
        'is-invalid': preco.invalid && (preco.dirty || preco.touched),
        'is-valid': preco.valid && (preco.dirty || preco.touched)
       }"
       [(ngModel)]="lanche.preco"
       #preco="ngModel"
       required/>

<div class="invalid-feedback mb-2" *ngIf="preco.invalid && (preco.dirty || preco.touched)">
  <div *ngIf="preco.errors.required">
    Preço do lanche é de preenchimento obrigatório
  </div>
</div>

<div class="form-inline">
  <button class="btn btn-primary" style="margin-right:4px" (click)="cadastrar()" [disabled]="ativar_spinner">
    <span class="spinner-border spinner-border-sm" *ngIf="ativar_spinner"></span>
    Cadastrar
  </button>
  <button class="btn btn-secondary" [routerLink]="['/pesquisar-lanche']">
    Cancelar
  </button>
</div>

<div class="alert alert-danger col-md-4" *ngIf="mensagem">
  Campos preenchidos invalidos
  {{mensagem}}
</div>
